body{
    background-color: rgb(192, 8, 192);
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(218, 218, 218);
    color: black;
    text-align: center;
}

.headerdiv{
    text-align: center;
    padding: 25px;
    background-color: purple;
}

.headerdiv h1{
    color: black;
}

.getgraphs{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.graphs{
    margin: 10px;
}

.container{
    margin-top: 20px;
    border-radius: 25px;
    padding: 20px;  
    background-color: rgb(184, 141, 201);
}

.text-center{
    padding-top: 10px;
}

.results{
    background: white;
    padding: 10px;
}

.inputheader{
    font-size: 25px;
}
.lasthead{
    padding-top: 10px;
}
.loader{
    padding-top: 10px;
    margin: 0 auto;
    width: 100px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  
  #loadinggif{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }