{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <script src="{{ url_for('static', filename='getfile.js') }}"></script>
                <form id="upload-file" method="post" enctype="multipart/form-data">
                    <dl>
                        <p>
                            <h3>Input Graph</h3>
                            <input type="file" name="inputFile" autocomplete="off" required>
                        </p>
                        <p>
                            <h3>Query Graph</h3>
                            <input type="file" name="queryFile" autocomplete="off" required>
                        </p>
                    </dl>
                    <p>
                        <button id="upload-file-btn" type="button">Run NemoMap</button>
                    </p>
                </form>
            </div>
            <div class="col-sm">
                <p class="inputheader lasthead">
                    Results
                </p>
                <div class="results">
                    <span>Number of Mappings: </span><span id="map"></span><br>
                    <span>Run time in seconds: </span><span id="time"></span>
                </div>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="space"></div>
                <div>
                    <a href="/nmp-text" class="btn btn-secondary btn-sm" role="button">Try Text Input</a>
                    <a href="http://bioresearch02p.uwb.edu/biores" class="btn btn-secondary btn-sm" role="button">Checkout NemoSuite</a>
                </div>
                <div>
                    <a class="btn btn-secondary btn-sm" href="#popup1">How to Use?</a>
                    <div id="popup1" class="overlay">
                        <div class="popup">
                            <h2>How to use NemoMapPy</h2>
                            <a class="close" href="#">×</a>
                            <div class="content">
                                <h4>Input Graph</h4>
                                Click the <i>choose file</i> button to upload a text file of the input graph.<br>
                                The input graph is the graph that will be searched for the recurring sub-graph structure.
                                <h4>Query Graph</h4>
                                Click the <i>choose file</i> button to upload a text file of the query graph.<br>
                                The query graph is the sub-graph that is being checked for the number of occurrences within the input graph. 
                                <h4>Results</h4>
                                NemoMapPy will return the number of times the query graph was found within the input graph.<br>
                                It will also return the amount of time it took to run.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay" >
        <div id="loadinggif">
            <img src="static/ajax-loader.gif"/>
        </div>
    </div>

{% endblock %}