{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <form class='getfiles' method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <p class="files">
                        {{ form.getInput.label }}<br>
                        {{ form.getInput }}<br>
                        {% for error in form.getInput.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p class="files">
                        {{ form.getQuery.label }}<br>
                        {{ form.getQuery }}<br>
                        {% for error in form.getQuery.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        </p>
                    <p>{{ form.submit }}</p>
                </form>
            </div>
            <div class="col-sm">
                <p class="inputheader lasthead">
                    Results
                </p>
                <script src="{{ url_for('static', filename='getfile.js') }}"></script>
                <div class="results">
                    <span>Number of Mappings: </span><span id="map"></span><br>
                    <span>Run time in seconds: </span><span id="time"></span>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <button onclick="window.location.href = '/nmp-text';">Try Text Input</button>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay" >
        <div id="loadinggif">
            <img src="static/ajax-loader.gif"/>
        </div>
    </div>

{% endblock %}