{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <form class="getgraphs" action="/index" method="post">
                    {{ form.hidden_tag() }}
                    <p class="graphs">
                        {{ form.inputGraph.label(class="inputheader") }}<br>
                        {{ form.inputGraph(cols=30, rows=15) }}<br>
                        {% for error in form.inputGraph.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p class="graphs">
                        {{ form.queryGraph.label(class="inputheader") }}<br>
                        {{ form.queryGraph(cols=30, rows=15) }}<br>
                        {% for error in form.queryGraph.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit() }}</p>
                </form>
            </div>
            <div class="col-sm">
                <p class="inputheader lasthead">
                    Results
                </p>
                <script src="{{ url_for('static', filename='getdata.js') }}"></script>
                <div class="results">
                    <span>Number of Mappings: </span><span id="map"></span><br>
                    <span>Run time in seconds: </span><span id="time"></span>
                </div>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                    <div class="space"></div>
                    <div>
                        <a href="/nmp-file" class="btn btn-secondary btn-sm" role="button">Try File Input</a>
                        <a href="http://bioresearch02p.uwb.edu/biores" class="btn btn-secondary btn-sm" role="button">Checkout NemoSuite</a>
                    </div>
                    <div>
                        <a class="btn" href="#popup1"><i class="far fa-question-circle fa-2x"></i></a>
                        <div id="popup1" class="overlay">
                            <div class="popup">
                                <h2>How to use NemoMapPy</h2>
                                <a class="close" href="#">×</a>
                                <div class="content">
                                    <h4>Input Graph</h4>
                                    Write or paste the edge pairs (spaces or tabs accepted) of the input graph.<br>
                                    The input graph is the graph that will be searched for the recurring sub-graph structure.
                                    <h4>Query Graph</h4>
                                    Write or paste the edge pairs (spaces or tabs accepted) of the query graph.<br>
                                    The query graph is the sub-graph that is being checked for the number of occurrences within the input graph. 
                                    <h4>Results</h4>
                                    NemoMapPy will return the number of times the query graph was found within the input graph.<br>
                                    It will also return the amount of time it took to run.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <div id="overlay" >
        <div id="loadinggif">
            <img src="static/ajax-loader.gif"/>
        </div>
    </div>

{% endblock %}