{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <form class="getgraphs" action="/index" method="post">
                    {{ form.hidden_tag() }}
                    <p class="graphs">
                        {{ form.inputGraph.label(class="inputheader") }}<br>
                        {{ form.inputGraph(cols=30, rows=15) }}<br>
                        {% for error in form.inputGraph.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p class="graphs">
                        {{ form.queryGraph.label(class="inputheader") }}<br>
                        {{ form.queryGraph(cols=30, rows=15) }}<br>
                        {% for error in form.queryGraph.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit() }}</p>
                </form>
            </div>
            <div class="col-sm">
                <p class="inputheader lasthead">
                    Results
                </p>
                <script src="{{ url_for('static', filename='getdata.js') }}"></script>
                <div class="results">
                    <span>Number of Mappings: </span><span id="map"></span><br>
                    <span>Run time in seconds: </span><span id="time"></span>
                </div>
                </div>
            </div>
            <div class="row justify-content-center">
                    <a href="/nmp-file" class="btn btn-secondary btn-sm" role="button">Try File Input</a>
                    <div class="space"></div>
                    <a href="http://bioresearch02p.uwb.edu/biores" class="btn btn-secondary btn-sm" role="button">Checkout NemoSuite</a>
            </div>
        </div>
    </div>

    <div id="overlay" >
        <div id="loadinggif">
            <img src="static/ajax-loader.gif"/>
        </div>
    </div>

{% endblock %}